
html,body{height:100%;}
html{font-size:6.25%;}
body{background:rgb(240,240,240);}
.header{width: 100%;height: 2rem;position: relative;}
.himg1{width: 100%;height: 2rem;}
.himg2{ position: absolute;width:1.43rem;top:0.15rem;left: 0.1rem;}
ul,li{ list-style: none}
.tabClick{ background: #fff; overflow: hidden;}
.tabClick li{ height:0.8rem; line-height: 0.8rem; width: 33.3%; float: left; text-align: center;font-size: 0.3rem;}
.tabClick li.active{ color: #ea4056; transition: 0.1s; font-weight: bold}
.tabCon{ overflow: hidden}
.tabBox{ position: relative}
.tabList{word-break: break-all; width:100%;float:left;  text-align:center; color:#D3D3D3; font-size:36px;overflow:hidden;}
.lineBorder{ height: 2px; overflow: hidden;}
.lineDiv{ background:#ea4056; height: 2px; width: 33.3%;}

.vipList{width: 86%;background-color: #fff;border-radius: 0.1rem;border: solid 1px #cdcdcd;overflow: hidden;margin:0 auto;color:#000;margin-top: 0.45rem;position: relative;padding:0.3rem 0.28rem}
.vipList p{font-size: 0.28rem;text-align: left;line-height: 0.4rem;}
.vipList p span{color: #3b5085;}
.span1{color:#ea4056!important;}
/*.p_top{margin-top: 0.3rem;}*/
.go_r{position: absolute;width: 0.22rem;height: 0.37rem;top:50%;right:0.32rem;transform: translateY(-50%);}
.return{position: absolute;
	width: 7rem;
    height: 0.98rem;
    background-color: #2482b8;
    border-radius: 5px;
    border: 0;
    outline: none;
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
   bottom: 1.15rem;left: 0.23rem;}

.list-ul{margin-top: 0.55rem;min-height: 7rem;}
.list-ul li{width: 95%;margin:0 auto;height: 1.6rem;margin-bottom: 0.2rem;}
.list-ul li .fl{float: left;overflow: hidden;position: relative;}
.list-ul li .fll{width: 5.73rem;height: 100%;border-radius: 4px;background:#fff;}
.list-ul li a .flr{width: 1.28rem;height: 100%;border-radius: 4px;background:#fff;margin-left:0.02rem;position: relative;overflow: hidden;zoom:0.5;}
.list-ul li a .flr .btn{font-size: 0.14rem;width: 0.91rem;height: 0.25rem;color:#fff;border:0;outline: none;position: absolute;bottom: 0.15rem;left:0.21rem;}
.list-ul li .fll img{width: 1.36rem;height: 1.36rem;display: inline-block;position: absolute;top:0.12rem;left:0.17rem;}
.list-p{margin:0.3rem 0 0 1.72rem;height: 100%;overflow: hidden;position: relative;}
.list-p p{text-align: left;}
.p1{font-size: 0.24rem;height: 0.75rem!important;color: #333;line-height: 0.36rem;word-wrap: break-word; 
word-break: normal;display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;overflow: hidden;}
.p2{color: #ea3f33;font-size: 0.26rem;position: absolute;bottom:0.55rem;}
.btn2{width: 7rem;height: 0.98rem;background-color: #2482b8;border-radius: 5px;border:0;outline: none;text-align: center;font-size: 0.36rem;color: #fff;margin-bottom: 0.2rem;}

canvas{width: 1.2rem;height: 1.1rem;}

@media screen and (min-width: 767px) {
	.tabList{width: 768px!important;}
	/*.tabBox{transform: translate3d(-768px,0,0)!important;}*/
}
@media screen and (min-width: 1023px) {
	.tabList{width: 1024px!important;}

}
